body {
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;/* Sidebar on the right */
    grid-template-rows: auto 1fr auto;
    gap: 60px;
    min-height: 100vh;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
    padding: 10px;
}



header {
    grid-area: header;
    background-color: #63B3ED;/* Header background color */
    color: #FFFFFF;/* Header text color */
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 10px 0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    object-fit: cover;
    border: 5px solid white;
    margin-bottom: 10px;
}

main {
    grid-area: main;
    padding: 20px;
}

article {
    margin-bottom: 40px;
    /* Adds space between articles */
    
}

article time,
article strong {
    color: #718096; /* Set the color for date and author */
}

article h2 {
    text-align: left;
    margin-bottom: 15px;/* Adds space between the title and the paragraphs */
    font-size: 32px;/* blog post titles to 32px */
    color: #48BB78;/* blog post title color to #48BB78 */
}

.post-image {
    width: 150px;/* adjust the width of the image */
    height: auto;
    margin-left: 20px;/* Space between text and image */
}

/* Float the image to the left */
.float-left {
    float: left;
    margin-right: 15px; /* Adds space between the image and the text */
    margin-bottom: 15px; /* Space below the image */
    width: 200px; /* Set the width of the image */
    height: 170px; 
    position: relative;
}

/* Make the image float and overlap the second paragraph */
.over-paragraph {
    position: absolute; /* Position the image absolutely to overlap the second paragraph */
    left: 20px; /* Adjust horizontal position */
    top: 50px; /* Adjust vertical position */
    z-index: 1; 
}

.float-right {
    float: right; /* ensure the image stays to the right */
    margin-left: 1px;/* Adds space between the margain and the pic */
    margin-bottom: 15px;
    width: 200px;
    height: 170px;
    position: relative;
}
aside {
    grid-area: sidebar;
    padding: 20px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.about {
    background-color: #E2E8F0;
    padding: 20px;
}
.about p {
    color: #000000;/* Black for the About section text */
}

.social-media h3,
.archives h3 {
    color: #48BB78;/* Green for Social Media and Archives */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: #4299E1;/* color of the link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;/* Add underline on hover */
}

footer {
    grid-area: footer;
    background-color: #2C5282;/* Footer background color */
    color: #FFFFFF;/* Footer text color */
    text-align: left;
    padding: 10px;
}